@font-face {
    font-family: consolas;
    src: url(/fonts/consola.ttf);
}

* {
    font-family: consolas !important;
}

:root {
    /* --shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
    --ring-offset-shadow: 0 0 #ffff;
    --ring-shadow: 0 0 #ffff;
}

.card_open {
    animation-duration: 2s;
    animation-name: card_open;
}

@keyframes card_open {
    from {
        height: 1%;
        box-shadow: var(--shadow);
    }
    to {
        height: 100%;
        box-shadow: var(--ring-offset-shadow, 0 0 #ffff), var(--ring-shadow, 0 0 #0000), var(--shadow);
    }
}

.red-button {
    background-color: #b40000;
}

.red-button:hover {
    background-color: #b40000 !important;
}


/* ERROR COLORS */

.swal2-icon.swal2-error {
    border-color: #b40000 !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: #b40000 !important;
}


/* END ERROR COLORS */


/* ------------------------------------- */


/* SUCCESS COLORS */

.swal2-icon.swal2-success {
    border-color: #54d80a !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #54d80a !important;
}


/* END SUCCESS COLORS*/

button:disabled {
    background-color: darkgray !important;
}

.border-b4 {
    border: 2px solid #b40000 !important;
    color: #b40000;
}